:root {
  --primary_blue: #22659a;
  --secondary_blue: #6d9dcd;
  --tertiary_blue: #c7dde8;
  --primary_container_blue: #def0ff;
  --secondary_container_blue: #d8e8f8;
  --tertiary_container_blue: #f1faff;

  --primary_darkblue: #002543;
  --secondary_darkblue: #222e3a;
  --tertiary_darkblue: #112a35;

  --error_red: #b3261e;
  --error_container_red: #f9dedc;
  --error_darkred: #410e0b;

  --bg_white: #fbfeff;
  --bg_black: #1c1b1f;

  --outline_gray: #79747e;
  --surface_gray: #49454f;
  --middle_gray: #b8b8b8;
  --light_gray: #e7e7e7;

  --theme_color: linear-gradient(164.95deg, #4ca9df 5.1%, #494fce 116.79%);
}
