<div class="container elevation__3">
    <div class="container__header">
        <div>
            <p>title</p>
            <ion-img src="../../../assets/svg/map/locked.svg"></ion-img>
        </div>
        <ionic-rating-component
            activeIcon="star"
            defaultIcon="star"
            halfStar="true"
            activeColor="var(--secondary_blue)"
            defaultColor="var(--middle_gray)"
            readonly="true"
            fontSize="14px"
            rating="3"
        ></ionic-rating-component>
    </div>
    <div>
        <ion-img src="{{ imageUrl }}"></ion-img>
    </div>
</div>
