p {
    margin: 0;
}

.item {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__labels {
    }

    &__buttons {
    }
}

.title {
    font-size: 16px;
    color: var(--bg_black);
}

.address {
    font-size: 14px;
    color: var(--outline_gray);
}
