<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons>
            <ion-button slot="start" (click)="onClickBackButton()">
                <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> 설정 </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <section class="list">
        <div class="list__header">
            <p>세부사항</p>
        </div>
    </section>

    <section class="list">
        <div class="list__version">
            <img src="../../../assets/svg/settings/version.svg" alt="version" />
            <p class="text">버전: {{appVersion}}</p>
        </div>
    </section>
    <section class="list">
        <div class="list__item" (click)="onClickPolicy()">
            <img src="../../../assets/svg/settings/policy.svg" alt="policy" />
            <p class="text">약관 및 정책</p>
        </div>
    </section>
    <section class="list">
        <div class="list__item" (click)="onClickCustomerService()">
            <img src="../../../assets/svg/settings/customer-service.svg" alt="customer-service" />
            <p class="text">문의하기</p>
        </div>
    </section>
</ion-content>
