<div class="item__container" [ngClass]="isRegistered ? null : 'not-registered'">
  <div class="item__labels">
    <p class="title">{{ bathroomInfo.title }}</p>
    <p *ngIf="isRegistered" class="address">{{ addressFull }}</p>
    <p *ngIf="!isRegistered" class="address__waiting">
      등록 대기중인 화장실입니다.
    </p>
  </div>
  <div class="item__buttons">
    <ion-img
      [ngClass]="isRegistered ? 'pointer' : 'disabled'"
      src="{{ editImageUrl }}"
      (click)="editBathroom()"
    ></ion-img>
    <ion-img
      [ngClass]="!isRegistered ? 'pointer' : 'disabled'"
      src="{{ deleteImageUrl }}"
      (click)="deleteBathroom()"
    ></ion-img>
  </div>
</div>
