ion-title {
  color: #22659a;
}

ion-toolbar {
  --border-style: none;
}

.back-button {
  color: #22659a;
}

.list {
  padding: 0 1rem;

  &__header {
    position: relative;
    padding-left: 1rem;
    margin-top: 2.25rem;
    margin-bottom: 1.15rem;

    p {
      font-weight: 700;
    }
  }

  img {
    padding: 0 1rem;
  }

  &__version {
    display: flex;
    background-color: #def0ff;
    border-radius: 100px;

    transform: translateX(-0.125rem);

    p {
      transform: translateX(-0.125rem);
    }
  }

  &__item {
    display: flex;
  }
}

.pointer {
  cursor: pointer;
}
