<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" (click)="onClickBackButton()">
        <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> 내 프로필 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile__title">
    <p>안녕하세요,</p>
    <p><span class="profile__title--name">{{ userName }}</span> 님!</p>
  </div>

  <!-- <ion-avatar class="profile-image__container">
    <img class="profile-image__image" />
  </ion-avatar> -->

  <div class="empty-space__30"></div>

  <ion-list lines="none">
    <ion-item class="pointer">
      <div id="achievement">
        <ion-label>총 {{ registered }}개 화장실</ion-label>
        <ion-label>등록한 화장실의 수</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="profile-item">
        <ion-label>등록 대기중 {{ notRegistered }}개</ion-label>
        <ion-label> </ion-label>
      </div>
      <ion-img
        class="chevron-right"
        src="../../../assets/svgs/chevron-right.svg"
        alt="chevron-right"
      ></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
