<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link rel="stylesheet" href="/static/css/main.css" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<th:block layout:fragment="head"></th:block>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    async function edit(id) {
        await axios({
            method: "post",
            url: "/admin/bathroom/edit",
            params: {
                id: id,
            },
            withCredentials: true,
        });
        await window.location.reload();
    }
    async function deleteFun(id) {
        await axios({
            method: "delete",
            url: "/admin/bathroom/delete-updated",
            params: {
                id: id,
            },
            withCredentials: true,
        });
        await window.location.reload();
    }
</script>
<div>
    <h1>수정 승인 대기중</h1>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>lat</th>
            <th>lng</th>
            <th>false</th>
            <th>address</th>
            <th>addressDetail</th>
            <th>isLocked</th>
            <th>운영시간</th>
            <th>create</th>
            <th>update</th>
            <th>등록</th>
            <th>제거</th>
        </tr>
        <div th:each="updatedBathroom : ${updatedBathrooms}">
            <tr
                    id="updated-bathroomItem"
                    th:name="${updatedBathroom.getId()}"
                    th:value="${updatedBathroom.getId()}"
            >
                <td th:text="${updatedBathroom.getId()}"></td>
                <td th:text="${updatedBathroom.getTitle()}"></td>
                <td th:text="${updatedBathroom.getLatitude()}"></td>
                <td th:text="${updatedBathroom.getLongitude()}"></td>
                <td th:text="${updatedBathroom.getRegister()}"></td>
                <td th:text="${updatedBathroom.getAddress()}"></td>
                <td th:text="${updatedBathroom.getAddressDetail()}"></td>
                <td th:text="${updatedBathroom.getIsLocked()}"></td>
                <td th:text="${updatedBathroom.getOperationTime()}"></td>
                <td th:text="${updatedBathroom.getCreated_at()}"></td>
                <td th:text="${updatedBathroom.getUpdated_at()}"></td>
                <td>
                    <button
                            type="button"
                            th:attr="onclick=|edit(${updatedBathroom.getId()})|">등록
                    </button>
                </td>
                <td>
                    <button
                            type="button"
                            th:attr="onclick=|deleteFun(${updatedBathroom.getId()})|">제거
                    </button>
                </td>
            </tr>
        </div>
    </table>
</div>
</html>
