<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>

  <th:block layout:fragment="head"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function register(id) {
      await axios({
        method: "post",
        url: "/admin/bathroom/register",
        params: {
          id: id,
        },
        withCredentials: true,
      });
      await window.location.reload();
    }

    async function deleteFun(id) {
      await axios({
        method: "delete",
        url: "/admin/bathroom/delete",
        params: {
          id: id,
        },
        withCredentials: true,
      });
      await window.location.reload();
    }
  </script>
  <div>
    <h1>등록 승인 대기중</h1>
    <table>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>lat</th>
        <th>lng</th>
        <th>false</th>
        <th>address</th>
        <th>addressDetail</th>
        <th>isLocked</th>
        <th>create</th>
        <th>update</th>
        <th>등록</th>
        <th>제거</th>
      </tr>
      <div th:each="bathroom : ${bathrooms}">
        <tr
          id="bathroom-item"
          th:name="${bathroom.getId()}"
          th:value="${bathroom.getId()}"
        >
          <td th:text="${bathroom.getId()}"></td>
          <td th:text="${bathroom.getTitle()}"></td>
          <td th:text="${bathroom.getLatitude()}"></td>
          <td th:text="${bathroom.getLongitude()}"></td>
          <td th:text="${bathroom.getRegister()}"></td>
          <td th:text="${bathroom.getAddress()}"></td>
          <td th:text="${bathroom.getAddressDetail()}"></td>
          <td th:text="${bathroom.getIsLocked()}"></td>
          <td th:text="${bathroom.getCreated_at()}"></td>
          <td th:text="${bathroom.getUpdated_at()}"></td>
          <td>
            <button
                    type="button"
                    th:attr="onclick=|register(${bathroom.getId()})|">등록
            </button>
          </td>
          <td>
            <button
                    type="button"
                    th:attr="onclick=|deleteFun(${bathroom.getId()})|">제거
            </button>
          </td>
        </tr>
      </div>
    </table>
  </div>
</html>
