* {
    --background: var(--bg_white);
}

ion-title {
    color: var(--primary_blue);
}

ion-toolbar {
    --border-style: none;
}

.input {
    &--container {
        text-align: center;
    }
}

textarea {
    width: 90%;
    border-radius: 10px;
    padding: 10px 7px;
}

.button-container {
    margin-top: 1.1rem;
    text-align: center;

    .submit-button {
        --background: var(--secondary_blue);
        width: 50%;
        font-weight: 700;
    }
}

.empty {
    height: 1.5rem;
}