ion-content {
  --padding-start: 1.75rem;
  --padding-end: 1.75rem;
}

ion-toolbar {
  --border-width: 0 !important;
  --background-color: #fbfeff;
}

ion-icon {
  color: #79747e;
}

ion-title {
  font-size: 16px;
  font-weight: bold;
  color: #79747e;
}

ion-checkbox {
  --size: 24px;
  --background-checked: #22659a;
  --checkmark-width: 3px;
  --size: 18px;
}
ion-checkbox::part(container) {
  border-radius: 4px;
}

ion-input {
  font-size: 15px;

  --padding-start: 16px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.input {
  &__container {
    margin-top: 10px;
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
  }

  &__address {
    margin-bottom: 4px;
  }
}
#bathroom-name {
  padding-right: 50px;
  z-index: 1;
}

.unisex {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 10px;

    color: #49454f;

    p {
      font-size: 16px;

      margin: 10px 0;
    }
  }
}

.rating {
  &__container {
    margin-top: 12.5px;
  }
}

.submit {
  --border-radius: 4px;

  --color: #fbfeff;
  --background: #6d9dcd;
}

.operation-time {
  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__checkbox {
    display: flex;

    p {
      margin: 0;

      font-size: 14px;
      color: #b3261e;

      margin-right: 0.4375rem;
    }
  }
}
