<ion-content>
  <header>
    <ion-buttons>
      <ion-button
        slot="start"
        (click)="onClickBackButton()"
        >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label class="login__title">
      로그인/회원가입
    </ion-label>
  </header>

  <section class="login__logo">
    <ion-img
      src="../../../assets/svg/logo_white.svg"
      alt="logo-white"
    ></ion-img>
    <ion-label class="login__logo--label">화장실 급할 땐 오동동</ion-label>
  </section>

  <section class="login__footer">
    <ion-button 
      class="login__footer--kakao"
      (click)="kakaoLogin()"
    >
      <ion-img
        src="../../../assets/images/kakao_login_medium_wide.png"
        alt="kakao-login-wide"
      ></ion-img>
    </ion-button>
    <div class="login__footer--text">
      <ion-label>
        오동동에 회원가입해 신규 화장실을 등록하고<br/>
        크레딧 적립을 통해 화장실 잠금을 해제하세요!
      </ion-label>
    </div>
  </section>
</ion-content>