:root {
    --primary_blue: #22659A;
    --secondary_blue: #6D9DCD;
    --tertiary_blue: #C7DDE8;
    --primary_container_blue: #DEF0FF;
    --secondary_container_blue: #D8E8F8;
    --tertiary_container_blue: #F1FAFF;

    --primary_darkblue: #002543;
    --secondary_darkblue: #222E3A;
    --tertiary_darkblue: #112A35;

    --error_red: #B3261E;
    --error_container_red: #F9DEDC;
    --error_darkred: #410E0B;

    --bg_white: #FBFEFF;
    --bg_black: #1C1B1F;

    --outline_gray: #79747E;
    --surface_gray: #49454F;
    --middle_gray: #B8B8B8;
}