.container {
    width: 100%;
    height: 100%;

    .map {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 89%;
    }

    &__detail {
        background: var(--bg_white);
        position: absolute;
        bottom: 17%;
        left: 10px;
        right: 10px;
        z-index: 3;
    }
}

.handler__container {
    position: absolute;
    right: 5%;
    bottom: 17%;

    width: 50px;
    height: 50px;

    background: var(--bg_white);

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 16px;

    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 25px;
        height: 25px;
    }
}
