<div class="container elevation__3">
  <div class="container__header">
    <div class="title">
      <p class="title__name">{{bathroomName}}</p>
      <div class="title__rate">
        <ionic-rating-component #rating
          activeIcon = "star"
          defaultIcon = "star"
          halfStar="true"
          activeColor = var(--secondary_blue)
          defaultColor = var(--middle_gray)
          readonly="true"
          fontSize = "12px"
          rating = "{{rating}}"
          (ratingChanged)="onRatingChange($event)"
        ></ionic-rating-component>
      </div>
    </div>
    <div class="locker">
       <ion-img
        *ngIf="isLocked === 'Y'"
        class="locker__img"
        src="../../../assets/svg/map/locked.svg"
      ></ion-img>
    </div>
  </div>
  <div *ngIf="imageUrl !== null" class="images">
    <ion-img
      src={{imageUrl}}
      height="190px"
    ></ion-img>
  </div>
  <div class="container__body">
    <p 
      *ngIf="isOpened==='Y'" 
      class="available"
    >이용 가능 <span *ngIf="isLocked==='Y'">- 비밀번호 있음</span>
    </p>
    <p
      *ngIf="isOpened==='N'"
      class="available-not"
    >이용 불가</p>

    <p *ngIf="isOpened==='Y'" class="operation-time">{{operationTime}}</p>
    <p *ngIf="isOpened==='N'" class="operation-time-not">{{operationTime}}</p>
    <p class="address">{{address}}</p>
  </div>
  <div class="empty-space__30"></div>
</div>